<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is home page</title>
</head>
<body>
<section>

   <div class="card mr-3 ml-3">
   <div class="card-body">
   <h1 class="text-center">your contacts</h1>
   
   <!-- Search -->
   <div class="search-container my-3">
   
   <input onkeyup= "search()"  id="search-input" type="text" class="form-control" placeholder="search your contacts" />
   <div class="search-result">
   <!-- reault goes here -->
   
   
  
   </div>
   
   </div>
   <table class="table">
  <thead>
    <tr>
      <th scope="col">CID</th>
      <th scope="col">NAME</th>
      <!-- <th scope="col">SECONDNAME</th> -->
      <th scope="col">WORK</th>
      <th scope="col">EMAIL</th>
      <th scope="col">PHONE</th>
      <th scope="col">IMAGE</th>
     <!--  <th scope="col">DESCRIPTION</th> -->
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  
  <tbody>
    <tr th:each="c :${contacts}">
      <th scope="row" th:text="${'SCM2020'+c.cId}">1</th>
      <td th:text="${c.name}">Mark</td>
      <!-- <td th:text="${c.secondName}">@mdo</td> -->
      <td th:text="${c.work}">Otto</td>
      <td >
      <a href="#" th:href= "@{'/user/'+${c.cId}+'/contact/'}">
      <span th:text="${c.email}"></span>
      
      </a>
      
      </td>
      <td th:text="${c.phone}">Mark</td>
      
      <td >
      <img alt="profile photo" src="" class ="my_profile_picture" th:src="@{'/img/'+${c.image}}">
      <span th:text="${c.image}"></span></td>
      
      
      <td>
      
      <form method="post" th:action="@{'/user/update-contact/'+${c.cId}}">
      <button type="submit" class="btn btn-primary btn-small">Update</button>
      <a  href="#" th:onclick= "|deleteContact(${c.cId})|" class="btn btn-danger btn-small">Delete</a>
      </form>
      </td>
    </tr>
    
    
  </tbody>
 
</nav>
</table>
    <!-- pagition -->
  
  <nav aria-label="Page navigation example">
  
  <ul class="pagination">
  
    <li th:if="${currentPage != 0}"class="page-item"><a  class="page-link" href="#">Previous</a></li>
    <li th:classappends="${currentPage == i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
    
  
    
    <li th:if="${currentPage+1 != totalPage}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage+1}}"  class="page-link" href="#">Next</a></li>
  </ul>
   </div> 
   
    
   </div>

</section>
  
</body>
</html>